body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 60px; /* Menü yüksekliğini göz önünde bulundurarak alt boşluk */
    text-align: center; /* İçeriği ortala */
}

.warning {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 8px;
    font-size: 16px;
    color: #f39c12; /* Uyarı rengi */
}

.form-container {
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center; /* İçeriği ortala */
    margin-bottom: 20px;
}

.icon-header {
    font-size: 40px; /* İkon boyutu */
    margin-right: 15px;
    color: #007bff; /* İkon rengi */
}

h1 {
    font-size: 28px;
    margin: 0;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ddd;
}

input[type="text"] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border: none; /* Çerçeveyi kaldır */
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}

input[type="text"]::placeholder {
    color: #888;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Ortala */
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.6);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#passwordText {
    margin-right: 10px;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    display: flex;
    justify-content: space-around;
    padding: 8px 0; /* Menünün yüksekliğini azalt */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #000; /* Üst kenarda ince siyah kenarlık */
    border-bottom: 2px solid #000; /* Alt kenarda ince siyah kenarlık */
    border-radius: 12px; /* Menünün köşelerini ovalleştir */
}

.navbar a {
    color: #aaa; /* Tıklanmadan önce gri */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px; /* Köşeleri oval */
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px; /* Yazı boyutu */
    font-weight: 500; /* Yazı kalınlığı */
    text-transform: uppercase; /* Yazıları büyük harflerle yapma */
}

.navbar a i {
    font-size: 24px; /* İkon boyutu */
    margin-bottom: 5px;
}

.navbar a.active {
    background-color: #000; /* Aktif sekme rengi */
    color: #fff;
}

.navbar a.active i {
    color: #fff;
}

/* Sayfa 2 içeriği için tablo stilleri */
.table-container {
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #444;
}

table tr:nth-child(even) {
    background-color: #222;
}

table tr:hover {
    background-color: #555;
}
